In [1]:
# ABSTRACT : 
# In this project, you will analyze and segment the customers of an e-commerce company by using the RFM approach. 
#This will enable the e-commerce company to optimize their retention and acquisition strategies. 

# Market Outlook: 

"""E-commerce stores which became success stories were successful in targeting the desired customers. One of the techniques by which 
 they were able to achieve this was customer segmentation i.e. by segmenting the existing customers based on frequency of 
 purchases, monetary value etc. E-commerce stores who designed market strategies based on mass marketing soon realized the
 need of customer segmentation as an alternative to save cost and efforts in the digital sphere. In a real-world 
 segmentation scenario, there might be hundreds of variables which can be used but broadly they segment the customers 
 by the following characteristics"""

# Objective : To Build an unsupervised learning model which can enable your company to analyze their customers via 
# RFM (Recency, Frequency and Monetary value) approach.

'E-commerce stores which became success stories were successful in targeting the desired customers. One of the techniques by which \n they were able to achieve this was customer segmentation i.e. by segmenting the existing customers based on frequency of \n purchases, monetary value etc. E-commerce stores who designed market strategies based on mass marketing soon realized the\n need of customer segmentation as an alternative to save cost and efforts in the digital sphere. In a real-world \n segmentation scenario, there might be hundreds of variables which can be used but broadly they segment the customers \n by the following characteristics'

In [2]:
# Importing Basic Library
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing dataset
dataset = pd.read_csv('E-com_Data.csv')
dataset

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Cancelled_status,Reason of return,Sold as set
0,4355.0,15734,398177.0,29-10-2017,6.0,3:36:00 PM,321.0,1926.0,Location 1,NaN,NaN,NaN
1,4352.0,14616,394422.0,05-10-2017,2.0,2:53:00 PM,870.0,1740.0,Location 1,NaN,NaN,NaN
2,4352.0,14614,394422.0,12-10-2017,2.0,2:53:00 PM,933.0,1866.0,Location 1,NaN,NaN,NaN
3,4352.0,85014B,388633.0,22-08-2017,3.0,2:47:00 PM,623.0,1869.0,Location 1,NaN,NaN,NaN
4,4352.0,15364,394422.0,10-10-2017,2.0,2:53:00 PM,944.0,1888.0,Location 1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
541111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# General information about the dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541116 entries, 0 to 541115
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         404189 non-null  float64
 1   Item Code          537979 non-null  object
 2   InvoieNo           537979 non-null  float64
 3   Date of purchase   537979 non-null  object
 4   Quantity           537979 non-null  float64
 5   Time               537979 non-null  object
 6   price per Unit     537979 non-null  float64
 7   Price              537979 non-null  float64
 8   Shipping Location  537979 non-null  object
 9   Cancelled_status   8345 non-null    object
 10  Reason of return   3 non-null       object
 11  Sold as set        0 non-null       float64
dtypes: float64(6), object(6)
memory usage: 49.5+ MB

In [5]:
# Checking duplicates values if any:
dataset.duplicated().sum()

3145

In [6]:
# Dropping the duplicates value from the dataset
dataset = dataset.drop_duplicates(ignore_index=True)

In [7]:
dataset.shape

(537971, 12)

In [8]:
# Columns of the dataset
dataset.columns

Index(['CustomerID', 'Item Code', 'InvoieNo', 'Date of purchase', 'Quantity',
       'Time', 'price per Unit', 'Price', 'Shipping Location',
       'Cancelled_status', 'Reason of return', 'Sold as set'],
      dtype='object')

In [9]:
# Selecting the variables on the basis of which , we have to segment the customers.
dataset = dataset[['CustomerID','InvoieNo','Date of purchase','Price']]
dataset

        CustomerID  InvoieNo Date of purchase   Price
0           4355.0  398177.0       29-10-2017  1926.0
1           4352.0  394422.0       05-10-2017  1740.0
2           4352.0  394422.0       12-10-2017  1866.0
3           4352.0  388633.0       22-08-2017  1869.0
4           4352.0  394422.0       10-10-2017  1888.0
...            ...       ...              ...     ...
537966         NaN  367605.0       06-02-2017  1522.0
537967         NaN  368246.0       06-02-2017  2283.0
537968         NaN  366891.0       29-01-2017  2970.0
537969         NaN  391243.0       17-09-2017  8340.0
537970         NaN       NaN              NaN     NaN

[537971 rows x 4 columns]

In [10]:
# Cgecking the null value
dataset.isnull().sum()/len(dataset)*100

CustomerID          24.869370
InvoieNo             0.000186
Date of purchase     0.000186
Price                0.000186
dtype: float64

In [11]:
# we have to drop the rows where the 'CustomerID' has Nan values. because existing customers are deciding parameater.
dataset = dataset.dropna(subset=['CustomerID'])

In [12]:
dataset.isnull().sum()/len(dataset)*100

CustomerID          0.0
InvoieNo            0.0
Date of purchase    0.0
Price               0.0
dtype: float64

In [13]:
# Actual shape of the dataset
dataset.shape

(404181, 4)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404181 entries, 0 to 537940
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CustomerID        404181 non-null  float64
 1   InvoieNo          404181 non-null  float64
 2   Date of purchase  404181 non-null  object
 3   Price             404181 non-null  float64
dtypes: float64(3), object(1)
memory usage: 15.4+ MB

In [15]:
# here we have to convert data type of column 'Date of Purchase' from object to datetime64[ns]
dataset['Date of purchase'] = pd.to_datetime(dataset['Date of purchase'])

In [16]:
dataset.dtypes

CustomerID                 float64
InvoieNo                   float64
Date of purchase    datetime64[ns]
Price                      float64
dtype: object

In [17]:
dataset.head()

   CustomerID  InvoieNo Date of purchase   Price
0      4355.0  398177.0       2017-10-29  1926.0
1      4352.0  394422.0       2017-05-10  1740.0
2      4352.0  394422.0       2017-12-10  1866.0
3      4352.0  388633.0       2017-08-22  1869.0
4      4352.0  394422.0       2017-10-10  1888.0

In [18]:
# calculating unique number of customer
dataset['CustomerID'].nunique()

4349

In [19]:
# Statistical information about the dataset
dataset['Date of purchase'].describe()

count                  404181
unique                    381
top       2017-11-24 00:00:00
freq                     2522
first     2016-02-12 00:00:00
last      2017-12-19 00:00:00
Name: Date of purchase, dtype: object

In [20]:
# from the describe function, we gets following insides
# 1. maximum no of shopping done on date - 2017-11-24
# 2. frequncy of shoping on date 2017-11-24 : 2522
# 3. First order done is on : 2016-02-12
# 4. Last day of shopping is : 2017 -12-19

In [21]:
dataset = dataset.rename(columns={'InvoieNo':'InvoiceNo', 'Date of purchase':'Date'})

In [22]:
import datetime as dt

In [23]:
# let's find Latest date for calvulating 'Recency'

In [24]:
Latest_date = dt.datetime(2017,12,20)
Latest_date

datetime.datetime(2017, 12, 20, 0, 0)

In [25]:
# Let's calculate RFMScore "Recency, Frequency, Monetory"

In [26]:
RFMScore = dataset.groupby('CustomerID').agg({'Date': lambda x: (Latest_date - x.max()).days,
                                             'InvoiceNo': lambda x: x.count(),
                                             'Price': lambda  x:x.sum()})

In [27]:
RFMScore

            Date  InvoiceNo     Price
CustomerID
2.0            4        182  553704.0
3.0           77         27  257404.0
4.0           20         72  176613.0
5.0           18         16   41976.0
6.0            9         84  151822.0
...          ...        ...       ...
4368.0        17         10   20480.0
4369.0       181          7   10774.0
4370.0        12         13   24962.0
4371.0         4        754  280608.0
4372.0        51         70  262820.0

[4349 rows x 3 columns]

In [28]:
# Renaming the column Date as Recency, InvoiceNo as Frequency and Price as Monetory
RFMScore.rename(columns={'Date':'Recency', 'InvoiceNo':'Frequency', 'Price':'Monetory'}, inplace=True)

In [29]:
RFMScore.reset_index()

      CustomerID  Recency  Frequency  Monetory
0            2.0        4        182  553704.0
1            3.0       77         27  257404.0
2            4.0       20         72  176613.0
3            5.0       18         16   41976.0
4            6.0        9         84  151822.0
...          ...      ...        ...       ...
4344      4368.0       17         10   20480.0
4345      4369.0      181          7   10774.0
4346      4370.0       12         13   24962.0
4347      4371.0        4        754  280608.0
4348      4372.0       51         70  262820.0

[4349 rows x 4 columns]

In [30]:
RFMScore.Recency.describe()

count    4349.000000
mean       61.445160
std        89.656941
min         1.000000
25%        10.000000
50%        19.000000
75%        73.000000
max       617.000000
Name: Recency, dtype: float64

In [ ]:
# Finding of RFMScore.Recency.describe() are:
# 1. minimum customers recency period is: 1 day 
# 2. upto 25 % of customers are having recency period of : 10 days
# 3. from 25 to 50 % of customers are having recency period of : 19 days
# 4. from 50 to 75 % of customers are having recency period of : 73 days
# 4. maximum recency period is : 617 days

In [31]:
RFMScore.Frequency.describe()

count    4349.000000
mean       92.936537
std       232.086935
min         1.000000
25%        17.000000
50%        42.000000
75%       101.000000
max      7970.000000
Name: Frequency, dtype: float64

In [ ]:
# Finding of RFMScore.Frequency.describe() are
# minimum frequency of customer order is :1
# 2. upto 25 % of customers are having frequency of order is : 17
# 3. from 25 to 50 % of customers are frequency of order is: 42
# 4. from 50 to 75 % of customers are frequency of order is : 101
# 4. maximum frequency of order is : 7970

In [32]:
RFMScore.Monetory.describe()

count    4.349000e+03
mean     2.299380e+05
std      8.572589e+05
min     -5.037200e+04
25%      3.814800e+04
50%      8.365500e+04
75%      2.056120e+05
max      3.553619e+07
Name: Monetory, dtype: float64

In [ ]:
# Finding of RFMScore.Monetory.describe() is
# -ve monetory value due to some order has cancelled and returned

In [33]:
# Split the data for quantile method
quantiles = RFMScore.quantile(q=[0.25,0.50,0.75])
quantiles = quantiles.to_dict()
quantiles

{'Recency': {0.25: 10.0, 0.5: 19.0, 0.75: 73.0},
 'Frequency': {0.25: 17.0, 0.5: 42.0, 0.75: 101.0},
 'Monetory': {0.25: 38148.0, 0.5: 83655.0, 0.75: 205612.0}}

In [ ]:
# defining a function RecencyScore havinf arguments x:datapoint, p:percentage, d:Thersold

In [34]:
def RecencyScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x<= d[p][0.75]:
        return 3
    else:
        return 4

In [35]:
def FreqMonetryScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]:
        return 2
    else:
        return 1

In [36]:
RFMScore.columns

Index(['Recency', 'Frequency', 'Monetory'], dtype='object')

In [ ]:
# Creating column 'R', 'F', 'M'

In [37]:
RFMScore['R'] = RFMScore['Recency'].apply(RecencyScore, args=('Recency',quantiles))
RFMScore['F'] = RFMScore['Frequency'].apply(FreqMonetryScore, args=('Frequency',quantiles))
RFMScore['M'] = RFMScore['Monetory'].apply(FreqMonetryScore, args=('Monetory',quantiles))

In [38]:
RFMScore.reset_index()

      CustomerID  Recency  Frequency  Monetory  R  F  M
0            2.0        4        182  553704.0  1  1  1
1            3.0       77         27  257404.0  4  3  1
2            4.0       20         72  176613.0  3  2  2
3            5.0       18         16   41976.0  2  4  3
4            6.0        9         84  151822.0  1  2  2
...          ...      ...        ...       ... .. .. ..
4344      4368.0       17         10   20480.0  2  4  4
4345      4369.0      181          7   10774.0  4  4  4
4346      4370.0       12         13   24962.0  2  4  4
4347      4371.0        4        754  280608.0  1  1  1
4348      4372.0       51         70  262820.0  3  2  1

[4349 rows x 7 columns]

In [39]:
RFMScore['RFMvalue'] = RFMScore[['R','F','M']].sum(axis=1)
RFMScore['RFMGroup'] = RFMScore.R.map(str) + RFMScore.F.map(str) + RFMScore.M.map(str)
RFMScore.reset_index()

      CustomerID  Recency  Frequency  Monetory  R  F  M  RFMvalue RFMGroup
0            2.0        4        182  553704.0  1  1  1         3      111
1            3.0       77         27  257404.0  4  3  1         8      431
2            4.0       20         72  176613.0  3  2  2         7      322
3            5.0       18         16   41976.0  2  4  3         9      243
4            6.0        9         84  151822.0  1  2  2         5      122
...          ...      ...        ...       ... .. .. ..       ...      ...
4344      4368.0       17         10   20480.0  2  4  4        10      244
4345      4369.0      181          7   10774.0  4  4  4        12      444
4346      4370.0       12         13   24962.0  2  4  4        10      244
4347      4371.0        4        754  280608.0  1  1  1         3      111
4348      4372.0       51         70  262820.0  3  2  1         6      321

[4349 rows x 9 columns]

In [40]:
RFMScore['RFMvalue'].nunique()

10

In [ ]:
# Checking loyality_lavel for segreggating the customers

In [41]:
Loyality_Lavel = ['Platinum','Diamond','Gold','Silver']
score_cuts = pd.qcut(RFMScore.RFMvalue, q=4, labels=Loyality_Lavel)
RFMScore['Loyality_Lavel'] = score_cuts.values
RFMScore = RFMScore.reset_index()
RFMScore

,CustomerID,Recency,Frequency,Monetory,R,F,M,RFMvalue,RFMGroup,Loyality_Lavel
0,2.0,4,182,553704.0,1,1,1,3,111,Platinum
1,3.0,77,27,257404.0,4,3,1,8,431,Diamond
2,4.0,20,72,176613.0,3,2,2,7,322,Diamond
3,5.0,18,16,41976.0,2,4,3,9,243,Gold
4,6.0,9,84,151822.0,1,2,2,5,122,Platinum
...,...,...,...,...,...,...,...,...,...,...
4344,4368.0,17,10,20480.0,2,4,4,10,244,Gold
4345,4369.0,181,7,10774.0,4,4,4,12,444,Silver
4346,4370.0,12,13,24962.0,2,4,4,10,244,Gold
4347,4371.0,4,754,280608.0,1,1,1,3,111,Platinum
4348,4372.0,51,70,262820.0,3,2,1,6,321,Diamond

In [ ]:
# Exporting the final data for segregatting the cusromers based on Recency, Frequency and Monetory

In [42]:
RFMScore.to_csv('final_data.csv')